.header__link {
    font-family: Geometria;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    text-decoration: none;

    color: #FFFFFF;
}

.header__link:hover {
    color: #F1EA68;
    font-weight: bold;
}