.actual__span {
    font-family: Geometria;
    font-size: 14px;
    line-height: 120%;

    color: #000000;
}

.actual__span_check {
    font-family: Geometria;
    font-size: 14px;
    line-height: 120%;

    color: #000000;
}