@import url('./__button/intro__button.css');
@import url('./__buttons/intro__buttons.css');
@import url('./__content/intro__content.css');
@import url('./__image/intro__image.css');
@import url('./__info/intro__info.css');
@import url('./__subtext/intro__subtext.css');
@import url('./__text/intro__text.css');
@import url('./__step/intro__step.css');
@import url('./__steps/intro__steps.css');

.intro {
    width: 1146px;
    height: calc(100vh - 112px);
    margin: auto;
}