.intro__step_first {
    width: 247px;
}

.intro__step_first::before {
    content: '1';
    font-family: Geometria;
    font-size: 58px;
    line-height: 120%;
    font-weight: bold;

    color: #F1EA68;
}

.intro__step_first::after {
    height: 24px;
    content: '\27F6';
    font-size: 20px;
    font-weight: 100;
    align-self: center;
    color: #72B62B;
}